body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #BEC9E5; */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  margin-top: 30px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

a.navbar-brand {
  font-weight: bolder;
  color: #1B1E46;
}

.nav-link{
  color: #aeafbd;
}

.nav-link:hover{
  color: #1B1E46;
  
}

.jumbotron {
  background-color: #fff;
  padding: 90px 10px 70px;
}

.display-4 {
  font-size: 65px;
  font-weight: bolder;
  color: #1B1E46;
}

.btn {
  background-color: #FF4978;
  font-weight: bold;
  border: none;
  margin-top: 15px;
}


.btn:hover {
  background-color: #1B1E46;
  
}

.card-body ,.lead{
  color: #595f79;
}

.card-header {
  background-color:#aeafbd81 ;
}
.card-active, .card:hover {
  transform: scale(1.02);
  transition: 0.5s;
  background-color: #fff;
  box-shadow: 0px 5px 50px -8px #ddd;
  cursor: pointer;
}
.fbtn {
  background-color: #1B1E46;
  font-weight: bold;
  border: none;
  margin-top: 15px;
  color: #fff;
}

.fbtn:hover {
  background-color: #1b1e46b2;
  
}

svg {
  color: #1B1E46;
}
/* .btn:hover {
  background-color: #1B1E46;
  
} */
